


:host {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto';

    background-color: rgb(250,250,250);
}
article {

    margin: 0.5rem;
    padding: 1rem;

    color: rgba(0,0,0,0.87);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
        0 1px 1px 0 rgba(0,0,0,.14),
        0 2px 1px -1px rgba(0,0,0,.12);
}